<h1>投稿更新</h1>

<%= form_with(model: @post, local: true) do |f| %>
  <div class='formContent'>
    <label class='label'>
      タイトル
    </label>
    <%= f.text_field :title, placeholder: "タイトルを入力してください", class: "input"%>
  </div>
  <div class='formContent'>
    <label class='label'>
      詳　　細
    </label>
    <%= f.text_area :description, placeholder: "詳細やメモを入力してください", class: "input"%>
  </div>
  <div class='formContent'>
    <div class="form-image">
      <div class="form-image__title">
        <label class='label'>
          画　　像
        </label>
      </div>
      <div class="form-image-box">
        <div class="form-image-box__main">
          <div class="form-image-box__main__uploaders">
            <label class="form-image-box__main__uploaders__label">
              <%= tag.div class: "image-file_group", data: {index: "#{@post.images.count}"} do%>
                <i class="fa fa-camera"></i>
                <%= f.file_field :image, name: "post[images_attributes][#{@post.images.count}][image]", id: "post_photos_attributes_#{@post.images.count}_image", class:'image-file-uploader'%>
              <% end %>
            </label>
          </div>
          <div class="form-image-box__main__previews">
            <% if @post.persisted? %>
              <% @post.images.each_with_index do |image, i|%>
                <%= tag.div class: "form-image-box__main__previews__view", data: {index: "#{i}"} do%>
                  <div class="form-image-box__main__previews__view__image">
                    <%= image_tag image.image.url, data: { index: i }, class: 'input_images', width: "120", height: '120'%>
                      <div class="image-remove form-image-box__main__previews__view__delete">
                        削除
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <%= f.fields_for :images do |image|%>
                <%= image.check_box :_destroy, include_hidden: false, data:{ index: image.index },class: 'hidden-destroy'%>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='formContent'>
    <label class='label'>
      場　　所
    </label>
    <%= f.text_field :address, placeholder: "目的地を入力してください", class: "input-address"%>
  </div>
  <div class='formContent'>
    <label class='label'>
      カテゴリ
    </label>
    <%= f.text_field :category_list, value: @post.category_list.join(','), data: {role: "tagsinput"}, placeholder: "カテゴリを入力してください", class: "category-field"%>
  </div>
  <div class='formContent'>
    <label class='label'>
      優 先 度
    </label>
    <%= f.select :priority, [1,2,3,4,5], include_blank: '-', class: "input"%>
  </div>
  <div class='formContent'>
    <label class='label'>
      評　　価
    </label>
    <%= f.select :reputation, [1,2,3,4,5], include_blank: '-', class: "input"%>
  </div>
  <div class='formContent'>
    <label class='label'>
      期　　日
    </label>
    <%= raw sprintf (f.date_select :deadline, prompt: '---', start_year:Time.now.year, end_year:Time.now.since(30.year).year, use_month_numbers: true, class: "input", date_separator: '%s'),'年 ', '月 '%>日
  </div>
  <div class='formContent'>
    <label class='label'>
      予　　算
    </label>
    <%= f.text_field :budget, placeholder: "予算を入力してください", class: "input"%>
  </div>
  <div class='formContent'>
    <label class='label'>
      非 公 開
    </label>
    <%= f.check_box :private_flag, class: "check"%>
  </div>
  <div class='formContent'>
    <label class='label'>
      達 成 済
    </label>
    <%= f.check_box :done_flag, class: "check"%>
  </div>

  <%# TODO:編集時のサブタスク表示 %>
  <div class='formContent tasklist'>
    <div class='formContent__titleBar'>
      <i class="fas fa-tasks"></i>
      <div class='formContent__titleBar__titleMemu'>
        <h5 class='formContent__titleBar__formTitle'>タスクリスト</h5>
        <div class='formContent__titleBar__titleMemu'>
          <div class='formContent__titleBar__titleMemu__menuOptions'>
            <%# TODO:達成済表示/非表示機能実装 %>
            <span class='hideButton-achieveTask btn btn-light'>
              <i class="fas fa-minus"></i>
              達成済タスクを非表示
            </span>
            <span class='displayButton-achieveTask btn btn-light'>
              <i class="fas fa-chevron-down"></i>
              達成済タスクを表示
            </span>
            <span class='openButton-tasklist btn btn-light'>
              <i class="fa fa-plus"></i>
              タスクリストを追加
            </span>
            <span class='deleteButton-tasklist btn btn-light'>
              <i class="fas fa-trash-alt"></i>
              タスクリストを削除
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class='formContent__progressBar'>
      <div class='tasklist-progress-percentage'>0%</div>
      <div class='tasklist-progressBar progress'>
        <div class='tasklist-progressBar-current progress-bar-striped bg-primary' style='width:50%'>0%</div>
      </div>
    </div>
    <div class='taskFormArea'>
      <%= f.fields_for :tasks do |task|%>
        <%= tag.div data: {index: "#{task.index}"}, class: "taskForm_group" do%>
          <%= task.check_box :done_flag, class: "check"%>
          <%= task.text_field :title, placeholder: "サブタスクタイトルを入力してください", class: "input"%>
          <%= raw sprintf (task.date_select :deadline, prompt: '---', start_year:Time.now.year, end_year:Time.now.since(30.year).year, use_month_numbers: true, class: "input", date_separator: '%s'),'年 ', '月 '%>日
          <%= tag.span data: {index: "#{task.index}"}, class: 'deleteButton-task btn btn-light' do%>
          <i class="fas fa-backspace"></i>
            削除
          <% end %>
        <% end %>
      <% end %>
    </div>
    <span class='addButton-task btn btn-light'>
      <i class="fa fa-plus"></i>
      タスクを追加
    </span>
  </div>

  <%= f.submit "更新"%>
<% end %>

<%= javascript_include_tag 'tag-it.js' %>
<%= javascript_include_tag 'autocomplete.js' %>
<%= javascript_include_tag 'post_image.js' %>
