<div class='post-page container'>

  <%= form_with(model: @post, local: true) do |f| %>
    <div class='formContent'>
      <div class='form-group'>
        <label class='label' for='post-title'>
          タスクタイトル
          <span class="badge badge-info">必須</span>
        </label>
        <%= f.text_field :title, placeholder: "タイトルを入力してください", class: "form-control", id:'post-title'%>
      </div>
      <div class='form-group'>
        <label class='label' for='post-description'>
          タスク詳細
        </label>
        <%= f.text_area :description, placeholder: "タスクに関する詳細やメモを入力してください", class: "form-control", id:'post-description'%>
      </div>
    </div>

    <div class='formContent'>
      <div class="form-image">
        <div class="form-image__title">
          <label class='label'>
            画　　像
          </label>
        </div>
        <div class="form-image-box">
          <div class="form-image-box__main">
            <div class="form-image-box__main__uploaders">
              <label class="form-image-box__main__uploaders__label">
                <%= f.fields_for :images do |image|%>
                  <%= tag.div data: {index: "#{image.index}"}, class: "image-file_group" do%>
                    <i class="fa fa-camera fa-2x"></i>
                    <p>ここをクリックかドラッグ＆ドロップでファイルをアップロードできます</p>
                    <%= image.file_field :image, class:'image-file-uploader' %>
                    <%# <%= image.file_field :images, class:'image-file-uploader', required: true ,multiple: true %>
                  <% end %>
                <% end %>
              </label>
            </div>
            <%# TODO:レスポンシヴ,カードにする%>
            <div class="form-image-box__main__previews"></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= render 'layouts/post-form'%>

  <%= form_with(model: @post, local: true) do |f| %>
    <div class='formContent tasklist'>
      <div class='formContent__titleBar'>
        <div class='formContent__titleBar__formTitle'>
          <i class="fas fa-tasks"></i>
          <h5>タスクリスト</h5>
        </div>
        <div class='formContent__titleBar__titleMemu'>
          <div class='formContent__titleBar__titleMemu__menuOptions'>
            <span class='openButton-tasklist btn btn-light'>
              <i class="fa fa-plus"></i>
              タスクリストを追加
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class='form-submit'>
      <%= f.submit "登録する", class:'btn btn-info btn-lg'%>
    </div>
  <% end %>
</div>
