  <head>
    <%# TODO:APIキーの暗号化、エラーの解消 %>
    <%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTHhHhDXRaxmXA9UDo3GiJkRMBo0K5j6U&callback=initMap" async defer></script> %>
    <%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTHhHhDXRaxmXA9UDo3GiJkRMBo0K5j6U"></script> %>
  </head>

<div class='post-page container'>
  <div class='post-info'>
    <h1 class="post-info__post-title">
      <%= @post.title %>
    </h1>
    <div class="post-info__post-flags">
      <%= render 'layouts/post-flags', :post => @post %>
    </div>
    <div class="post-info__post-category">
      <%= render 'posts/category_list', category_list: @post.category_list %>
    </div>
    <div class="post-info__post-reputation">
      <%if @post.reputation %>
        <%= render 'layouts/post-reputation', :post => @post %>
      <%end%>
    </div>
  </div>
  <% if @post.images.present? %>
    <div class='post-info'>
      <div class="post-info__post-images">
        <%# CHANGED:画像一覧表示用 %>
        <%# <div class="post-main-image"> %>
          <%# <%= image_tag "#{@post.images[0].image.url}", size: "500x280"%>
        <%# </div> %>
        <%# <div class="post-image-gallery"> %>
          <%# <% @post.images.each do |image|%>
            <%# <%= image_tag "#{image.image.url}", size: "20%x100", class: "images-gallery"%>
          <%# <% end %>
        <%# </div> %>

        <div class="carousel slide" id='post-main-image' data-ride="carousel" data-pause='hover' data-touch=true data-keyboard=true>
          <%# NOTE:画像複数枚の場合インジケータを表示 %>
          <% if @post.images.length > 1 %>
            <ol class="carousel-indicators">
              <% @post.images.each_with_index do |image, i|%>
                <%= tag.li "data-target":"#post-main-image", "data-slide-to":"#{i}", class:'active' if i==0%>
                <%= tag.li "data-target":"#post-main-image", "data-slide-to":"#{i}" if i>0%>
              <%end%>
            </ol>
          <%end%>
          <div class="carousel-inner">
            <% @post.images.each_with_index do |image, i|%>
              <% if i == 0 %>
                <div class="carousel-item active">
                  <%= image_tag "#{image.image.url}", height: "300", alt:"slide-#{i}"%>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= image_tag "#{image.image.url}", height: "300", alt:"slide-#{i}"%>
                </div>
              <%end%>
            <%end%>
            <%# TODO:押下時のJS実装 %>
            <div class="carousel-control-prev" href="post-main-image" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </div>
            <div class="carousel-control-next" href="post-main-image" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="post-info">
    <div class="post-description">
      <%= simple_format @post.description %>
    </div>
    <br>
    <%# <div class="post-priority"> %>
      <%# <%= @post.priority %>
    <%# </div> %>
    <table class="table">
      <%# <caption>List of users</caption> %>
      <tr><th></th><th>予定</th><th>実績</th></tr>
      <tr><td>費用</td><td><%= "¥#{@post.budget.to_s(:delimited)}" %></td><td>-</td></tr>
      <tr><td>期日</td><td><%= l @post.deadline %></td><td>yyyy/mm/dd</td></tr>
    </table>
  </div>

  <%# 場所 %>
  <% if @post.address? %>
    <div class='post-info'>
      <div class="post-info__post-placeID"><%= @post.place_id %></div>
      <div class="post-info__post-address">
        <div id="map"></div>
      </div>
    </div>
  <% end %>
  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon">
    <span id="place-name"  class="title"></span><br>
    <span id="place-address"></span>
  </div>

  <% if @post.tasks.present? %>
    <div class='post-info'>
      <div class='post-info__tasks-titleBar'>
        <div class='post-info__tasks-titleBar__formTitle'>
          <i class="fas fa-tasks"></i>
          <h5>サブタスクリスト</h5>
        </div>
      </div>
      <ul class="post-info__post-tasks">
        <% @post.tasks.each.with_index(1) do |task, i|%>
          <% if task.done_flag? %>
            <li class='post-task-info'>
              <%# <i class="fas fa-check"></i> %>
              <div class="post-task-title" style='text-decoration: line-through;'>
                <%= "#{i}.#{task.title}" %>
              </div>
            </li>
          <%else%>
            <li class='post-task-info'>
              <%# <i class="fas fa-circle"></i> %>
              <div class="post-task-title">
                <%= "#{i}.#{task.title}" %>
              </div>
            </li>
          <%end%>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user_has?(@post) %>
    <div class='post-info'>
      <div class='post-info__post-btns'>
        <%= link_to "編集",edit_post_path(@post.id), class:'btn btn-info btn-lg post-edit-btn' %>
        <%= link_to "削除", post_path(@post.id), class:'btn btn-danger btn-lg post-delete-btn', method: :delete%>
      </div>
    </div>
  <% end %>

  <div class="post-info">
    <div class='post-info__commentForm'>
      <% if user_signed_in? %>
        <%= form_with(model: [@post, @comment], local: true) do |f| %>
          <%= f.text_area :text, placeholder: "コメントする", rows: "2" , class: "form-control", id:'comment-form'%>
          <%= f.submit "コメント投稿", class:'btn btn-info btn-lg'%>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>
  </div>

  <div class="post-info">
    <div class="post-info__post-comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user_nickname, user_path(comment.user_id) %>：</strong><%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%# <%= javascript_include_tag 'post_map.js' %>
