  <nav class= "navbar main-header">
    <%= link_to root_path, class: "navbar-brand main-header__title" do%>
      <img src="../../assets/MyBucketList-logo.png" class= "main-header__title--text" width="200" height="50">
    <%end%>
    <button class="btn btn-light dropdown-toggle main-header__right" type='button' id='main-header-dropdown' data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
      <i class="fas fa-bars navbar-toggler-icon"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby='main-header-dropdown'id="main-header-menu">
      <% if user_signed_in?%>
        <%= link_to '新規投稿', new_post_path, class:'dropdown-item'%>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'dropdown-item'%>
        <%# TODO: turbolinksの有無 %>
        <%# <%= link_to '新規投稿', new_post_path, data: {"turbolinks"=>false}%>
        <%= link_to 'マイページ', user_path(current_user), class:'dropdown-item'%>
        <%# TODO: ユーザ編集機能 %>
        <%= link_to 'アカウント編集', edit_user_registration_path, class:'dropdown-item'%>
      <% else %>
        <%= link_to 'ログイン', new_user_session_path, class:'dropdown-item'%>
        <%= link_to '新規登録', new_user_registration_path, class:'dropdown-item'%>
      <% end %>
    </div>
  </nav>
