  <%= form_with(model: post, local: true) do |f| %>
    <div class='formContent'>
      <div class='form-group'>
        <label class='label' for='post-title'>
          タスクタイトル
          <span class="badge badge-warning">必須</span>
        </label>
        <%= f.text_field :title, placeholder: "タイトルを入力してください", class: "form-control", id:'post-title', required: true%>
      </div>
      <div class='form-group'>
        <label class='label' for='post-description'>
          タスク詳細
        </label>
        <%= f.text_area :description, placeholder: "タスクに関する詳細やメモを入力してください", class: "form-control", id:'post-description'%>
      </div>
    </div>

    <div class='formContent'>
      <div class="form-image">
        <div class="form-image__title">
          <label class='label'>
            画　　像
          </label>
        </div>
        <div class="form-image-box">
          <div class="form-image-box__main">
            <div class="form-image-box__main__uploaders">
              <label class="form-image-box__main__uploaders__label">
                <%# CHANGED:@post.persistedを条件分岐にimage-remove-targetの有無で分けてたけど意味ない %>
                <%= tag.div class: "image-file_group", data: {index: "#{post.images.count}"}, id: "image-remove-target" do%>
                  <i class="fa fa-camera fa-2x"></i>
                  <p>ここをクリックかドラッグ＆ドロップでファイルをアップロードできます</p>
                  <%= f.file_field :image, name: "post[images_attributes][#{post.images.count}][image]", id: "post_images_attributes_#{post.images.count}_image", class:'image-file-uploader'%>
                <% end %>
              </label>
            </div>
            <%# TODO:レスポンシヴ,カードにする%>
            <div class="form-image-box__main__previews">
              <% if post.persisted? %>
                <% post.images.each_with_index do |image, i|%>
                  <%= tag.div class: "form-image-box__main__previews__view", data: {index: "#{i}"}, id: "image-remove-target" do%>
                    <div class="form-image-box__main__previews__view__image">
                      <%= image_tag image.image.url, data: { index: i }, class: 'input_images'%>
                        <div class="image-remove">削除</div>
                      <% end %>
                    </div>
                  <% end %>
                <%= f.fields_for :images do |image|%>
                  <%= image.check_box :_destroy, include_hidden: false, data:{ index: image.index },class: 'hidden-destroy'%>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='formContent'>
      <div class="form-group form-group-sideSet">
        <label class='label' for='post-deadline'>
          期　　日
          <span class="badge badge-warning">必須</span>
        </label>
        <div class='post-deadline'>
          <%= raw sprintf (f.date_select :deadline, prompt: '---', start_year:Time.now.year, end_year:Time.now.since(30.year).year, use_month_numbers: true, class: "input form-control", id:'post-deadline', date_separator: '%s'),'年 ', '月 '%>日
        </div>
      </div>
      <div class="form-group form-group-sideSet">
        <label class='label' for='post-budget'>
          予　　算
          <span class="badge badge-warning">必須</span>
        </label>
        <div class='post-budget'>
          <span class='post-budget-priceTag'>¥</span>
          <%= f.number_field :budget, class: "form-control", id: "post-budget", required: true %>
        </div>
      </div>
      <div class="form-group form-group-sideSet">
        <label class='label' for= "post-address">
          場　　所
        </label>
        <%# NOTE:エンター押下で投稿を防ぐためにボタンのsubmitを無効化、onsubmit:"return false;"はautocompleteのサジェストにかけないと意味なし%>
        <%= f.text_field :address, placeholder: "目的地を入力してください", class: "form-control input-address", id: "post-address", autocomplete: "off"%>
        <%= f.text_field :place_id, class: "form-control input-placeID", id: "post-placeID", readonly: "readonly"%>
        <%# FIXME:"Map: Expected mapDiv of type Element but was passed null."のため苦肉の策でmapを用意%>
        <div id="map" style="display:none;"></div>
      </div>
      <div class="form-group-sideSet">
        <label class='label' for= "post-category">
          カテゴリ
        </label>
        <%# TODO: クラス変更の際はautocomplete.jsも併せて変更する%>
        <div class='post-category'>
          <%= f.text_field :category_list, value: post.category_list.join(','), placeholder: "カンマ区切りでカテゴリを入力してください", class: "category-field", id: "post-category"%>
        </div>
      </div>
      <div class="form-group form-group-sideSet">
        <label class='label' for="post-priority">
          優 先 度
        </label>
        <%= f.select :priority, [1,2,3,4,5], include_blank: '他のタスクとの優先度合を選択します', class: "form-control", id:"post-priority"%>
        <%# TODO:レーティングの実装 %>
        <%# レーティングサンプルコード %>
        <%# <div class="p-rating">
          <button class="p-rating-star">☆</button>
          <button class="p-rating-star">☆</button>
          <button class="p-rating-star">☆</button>
          <button class="p-rating-star">☆</button>
          <button class="p-rating-star">☆</button>
        </div> %>

        <%# NOTE:ラジオボタンをdisplay:noneで別口でレーティングを実装してJSで同期させる？ %>
        <%# <div class="p-rating"> %>
          <%# <%=f.radio_button :priority, 1, class: "p-rating-star"%>
          <%# <%=f.radio_button :priority, 2, class:"p-rating-star"%>
          <%# <%=f.radio_button :priority, 3, class:"p-rating-star"%>
          <%# <%=f.radio_button :priority, 4, class:"p-rating-star"%>
          <%# <%=f.radio_button :priority, 5, class:"p-rating-star"%>
        <%# </div> %>
      </div>
    </div>

    <div class='formContent'>
      <div class='form-group form-check'>
        <%= f.check_box :private_flag, class: "form-check-input"%>
        <label class='form-check-label'>
          非 公 開 に す る
        </label>
      </div>
      <%# TODO:達成済の場合、評価必須、JS実装 %>
      <div class='form-group form-check'>
        <%= f.check_box :done_flag, class: "form-check-input"%>
        <label class='form-check-label'>
          達 成 済 に す る
        </label>
      </div>
      <div class="form-group form-group-sideSet">
        <label class='label' for="post-reputation">
          評　　価
        </label>
        <%= f.select :reputation, [1,2,3,4,5], include_blank: '-', class: "form-control", id:"post-reputation"%>
      </div>
    </div>

    <div class='formContent tasklist'>
      <div class='formContent__titleBar'>
        <div class='formContent__titleBar__formTitle'>
          <i class="fas fa-tasks"></i>
          <h5>サブタスクリスト</h5>
        </div>
        <div class='formContent__titleBar__titleMemu'>
          <div class='formContent__titleBar__titleMemu__menuOptions'>
            <% if post.persisted? && post.tasks.present? %>
              <%# TODO:達成済表示/非表示機能実装 %>
              <%# <span class='hideButton-achieveTask btn btn-info'>
                <i class="fas fa-minus"></i>
                達成済タスクを非表示
              </span> %>
              <%# <span class='displayButton-achieveTask btn btn-info'>
                <i class="fas fa-chevron-down"></i>
                達成済タスクを表示
              </span> %>
              <span class='deleteButton-tasklist btn btn-danger'>
                <i class="fas fa-trash-alt"></i>
                タスクリストを削除
              </span>
            <% else %>
              <span class='openButton-tasklist btn btn-info'>
                <i class="fa fa-plus"></i>
                タスクリストを追加
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <% if post.persisted? && post.tasks.present? %>
        <div class='formContent__progressBar d-flex'>
          <div id='progressBar-percentage'>
          </div>
          <div class='progressBar-gauge progress'>
            <div class='progress-bar-striped bg-primary' id='progressBar-done'></div>
          </div>
        </div>
        <div class='taskFormArea'>
          <%= f.fields_for :tasks do |task|%>
            <%= tag.div data: {index: "#{task.index}"}, class: "taskForm_group" do%>
              <%= task.check_box :done_flag, class: "post-tasks-done"%>
              <%= task.text_field :title, placeholder: "サブタスクタイトルを入力してください", class: "post-tasks-title", required: true%>
              <%= raw sprintf (task.date_select :deadline, prompt: '---', start_year:Time.now.year, end_year:Time.now.since(30.year).year, use_month_numbers: true, class: "input", date_separator: '%s'),'年 ', '月 '%>日
              <%= tag.span data: {index: "#{task.index}"}, class: 'deleteButton-task btn btn-danger' do%>
                <i class="fas fa-backspace"></i>
                削除
              <% end %>
            <% end %>
            <%# TODO: if post.persisted?なくていいか一応確認%>
            <%= task.check_box :_destroy, data:{ index: task.index }, class: 'hidden-destroy' %>
          <% end %>
        </div>
          <span class='addButton-task btn btn-info'>
            <i class="fa fa-plus"></i>
            タスクを追加
          </span>
      <%end%>
    </div>

    <div class='form-submit'>
      <% if post.persisted? %>
        <%= f.submit "更新する", class:'btn btn-success btn-lg', onclick:"submit();"%>
      <%else%>
        <%# NOTE:type:'button'のせいでcapybaraが正常に遷移しなかった %>
        <%# CHANGED:<%= f.submit "登録する", class:'btn btn-success btn-lg', onclick:"submit();", type:'button'%>
        <%= f.submit "登録する", class:'btn btn-success btn-lg', onclick:"submit();"%>
      <% end %>
    </div>
  <% end %>
