<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon "init": true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# TODO:APIキーの暗号化 %>
    <%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTHhHhDXRaxmXA9UDo3GiJkRMBo0K5j6U&callback=initMap" async defer></script> %>
    <%# 他のビューでのエラー回避のためcallback無効化、require tree でいけるか？ %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTHhHhDXRaxmXA9UDo3GiJkRMBo0K5j6U"></script>
  </head>
  <body>
    <%= render 'layouts/header'%>
    <%= render 'layouts/notifications'%>
    <div class="contents">
      <div class="main-page">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
