<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon "init": true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# TODO:APIキーの暗号化、エラーの解消 %>
    <%# NOTE:他のビューでのエラー回避のためcallback無効化 %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTHhHhDXRaxmXA9UDo3GiJkRMBo0K5j6U&libraries=places"></script>
    <%# <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTHhHhDXRaxmXA9UDo3GiJkRMBo0K5j6U&libraries=places"></script> %>
    <%# <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTHhHhDXRaxmXA9UDo3GiJkRMBo0K5j6U&libraries=places&callback=initMap"></script> %>
    <%#= tag.script src:'https://maps.googleapis.com/maps/api/js?v=3&key="#{@googleMapAPIKey}"&libraries=places' %>
    <script>
      $(function() {
        setTimeout("$('.notification').fadeOut('slow')", 2000);
      });
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />
  </head>
  <body>
    <%= render 'layouts/header'%>
    <%= render 'layouts/notifications'%>
    <div class="contents">
      <div class="main-page">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
